<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\KnightsTour.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Set Access-Control-Allow-Methods for OPTIONS response" preCondition="OPTIONS" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Access-Control-Allow-Methods" pattern="*" negate="false" />
          <action type="Rewrite" value="DELETE,GET,OPTIONS,PATCH,POST,PUT" />
        </rule>
        <rule name="Set Access-Control-Allow-Headers for OPTIONS response" preCondition="OPTIONS" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Access-Control-Allow-Headers" pattern="*" negate="false" />
          <action type="Rewrite" value="Origin, X-Requested-With, Content-Name, Content-Type, Accept" />
        </rule>
        <!--
        <rule name="Set Access-Control-Allow-Origin for OPTIONS response" preCondition="" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern="*" negate="false" />
          <action type="Rewrite" value="http://localhost:8080" />
        </rule>
        -->
        <rule name="Set Access-Control-Allow-Origin for OPTIONS response 9000" preCondition="" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern="*" negate="false" />
          <action type="Rewrite" value="*" />
        </rule>
        <rule name="Set Access-Control-Allow-Credentials for OPTIONS response" preCondition="OPTIONS" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Access-Control-Allow-Credentials" pattern="*" negate="false" />
          <action type="Rewrite" value="true" />
        </rule>
        <rule name="Set Access-Control-Max-Age for OPTIONS response" preCondition="OPTIONS" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Access-Control-Max-Age" pattern="*" negate="false" />
          <action type="Rewrite" value="3600" />
        </rule>
        <rule name="Set X-Content-Type-Options for OPTIONS response" preCondition="OPTIONS" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_X-Content-Type-Options" pattern="*" negate="false" />
          <action type="Rewrite" value="nosniff" />
        </rule>
        <preConditions>
          <preCondition name="OPTIONS">
            <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rules>
        <rule name="OPTIONS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?localhost:*))" />
            <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
          </conditions>
          <action type="CustomResponse" statusCode="200" subStatusCode="0" statusReason="OK" statusDescription="OK" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>